body {
    background: url(https://images.alphacoders.com/772/thumb-1920-772579.jpg);
    padding-bottom: 30px;
}

h1 {
    font-family: 'Sigmar One', cursive;
    font-size: 48px;
    color: yellow;
}

h4 {
    font-family: 'Sigmar One', cursive;
    color: blue;
}


p {
    font-family: 'Amatic SC', cursive;
    color: orange;
    font-size: 24px;
}

;

button {
    background-color: yellow;
    padding: 10px 20px 10px 20px;
}

footer {
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
    color: yellow;
}

.attacker-font {
    color: greenyellow;
    font-family: 'Sigmar One', cursive;
    font-size: 28px;
}

.defender-font {
    color: red;
    font-family: 'Sigmar One', cursive;
    font-size: 28px;
}

.game-area {
    padding-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
}